player-connection-mode=Listen
player-connection-guid=941539574
player-connection-debug=0
player-connection-project-name=ThirdPersonTP
player-connection-ip=10.0.0.154
gfx-enable-gfx-jobs=1
gfx-enable-native-gfx-jobs=1
wait-for-native-debugger=0
hdr-display-enabled=0
build-guid=3cc83274a5b94ce4b4bb5bbd6fe2d0be
